# Step-1

In [1]:
# import libraries
import pandas as pd
import numpy as np
import os

In [2]:
path=r'C:\Users\Günay\Documents\Instacart Basket Analysis'

In [3]:
df_ords_prods_merged=pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged2.pkl'))

In [4]:
df_ords_prods_merged.head()

,order_id,user_id,eval_set,order_number,order_dow,order_time,days_since_prior_order,product_id,add_to_cart_order,reordered,...,product_name,aisle_id,department_id,prices,exists,price_range,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
0,1501582.0,2.0,prior,2.0,5.0,10.0,10.0,8479,3.0,0.0,...,Original Black Box Tablewater Cracker,78.0,19.0,3.5,both,Low-range product,Low-range product,Regularly busy,Regularly busy,Most orders
1,382106.0,235.0,prior,2.0,6.0,8.0,13.0,8479,3.0,1.0,...,Original Black Box Tablewater Cracker,78.0,19.0,3.5,both,Low-range product,Low-range product,Regularly busy,Regularly busy,Average orders
2,1264640.0,235.0,prior,8.0,3.0,2.0,17.0,8479,10.0,1.0,...,Original Black Box Tablewater Cracker,78.0,19.0,3.5,both,Low-range product,Low-range product,Regularly busy,Least busy,Fewest orders
3,909400.0,235.0,prior,20.0,5.0,10.0,25.0,8479,7.0,1.0,...,Original Black Box Tablewater Cracker,78.0,19.0,3.5,both,Low-range product,Low-range product,Regularly busy,Regularly busy,Most orders
4,1698838.0,352.0,prior,9.0,0.0,15.0,16.0,8479,13.0,1.0,...,Original Black Box Tablewater Cracker,78.0,19.0,3.5,both,Low-range product,Low-range product,Busiest day,Busiest days,Most orders

In [5]:
df_ords_prods_merged.shape

(1993217, 22)

# Step-2

In [11]:
df_ords_prods_merged.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1.0              16.459188
2.0              17.506440
3.0              18.387829
4.0              18.848129
5.0              16.129429
6.0              17.618832
7.0              18.426678
8.0              15.993656
9.0              17.073445
10.0             21.032967
11.0             17.465383
12.0             16.957199
13.0             17.813777
14.0             17.980317
15.0             17.317769
16.0             18.764976
17.0             17.035425
18.0             20.714286
19.0             18.314142
20.0             17.432502
21.0             23.125907

# Step-3

In [12]:
# The subset has 1000000 rows, but the entire dataframe has 1993217 rows. 
# There is not a big changing between the means of order numbers at the subset and the entire dataframe. 
# I think, the reason is that there is not any sorting at the entire dataframe, it`s quite random.
# That`s why, the subset which includes the first 1000000 rows was also random and the means didn`t change so much.

In [13]:
df_ords_prods_merged

,order_id,user_id,eval_set,order_number,order_dow,order_time,days_since_prior_order,product_id,add_to_cart_order,reordered,...,product_name,aisle_id,department_id,prices,exists,price_range,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
0,1501582.0,2.0,prior,2.0,5.0,10.0,10.0,8479,3.0,0.0,...,Original Black Box Tablewater Cracker,78.0,19.0,3.5,both,Low-range product,Low-range product,Regularly busy,Regularly busy,Most orders
1,382106.0,235.0,prior,2.0,6.0,8.0,13.0,8479,3.0,1.0,...,Original Black Box Tablewater Cracker,78.0,19.0,3.5,both,Low-range product,Low-range product,Regularly busy,Regularly busy,Average orders
2,1264640.0,235.0,prior,8.0,3.0,2.0,17.0,8479,10.0,1.0,...,Original Black Box Tablewater Cracker,78.0,19.0,3.5,both,Low-range product,Low-range product,Regularly busy,Least busy,Fewest orders
3,909400.0,235.0,prior,20.0,5.0,10.0,25.0,8479,7.0,1.0,...,Original Black Box Tablewater Cracker,78.0,19.0,3.5,both,Low-range product,Low-range product,Regularly busy,Regularly busy,Most orders
4,1698838.0,352.0,prior,9.0,0.0,15.0,16.0,8479,13.0,1.0,...,Original Black Box Tablewater Cracker,78.0,19.0,3.5,both,Low-range product,Low-range product,Busiest day,Busiest days,Most orders
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1993212,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49669,NaN,NaN,...,K Cup Dark Blend,100.0,21.0,4.7,right_only,Low-range product,Low-range product,Regularly busy,Not enough data,Not enough data
1993213,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49672,NaN,NaN,...,Cafe Mocha K-Cup Packs,26.0,7.0,6.5,right_only,Mid-range product,Mid-range product,Regularly busy,Not enough data,Not enough data
1993214,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49684,NaN,NaN,...,"Vodka, Triple Distilled, Twist of Vanilla",124.0,5.0,5.3,right_only,Mid-range product,Mid-range product,Regularly busy,Not enough data,Not enough data
1993215,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49687,NaN,NaN,...,Smartblend Healthy Metabolism Dry Cat Food,41.0,8.0,4.7,right_only,Low-range product,Low-range product,Regularly busy,Not enough data,Not enough data
1993216,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49688,NaN,NaN,...,Fresh Foaming Cleanser,73.0,11.0,13.5,right_only,Mid-range product,Mid-range product,Regularly busy,Not enough data,Not enough data

# Step-4

In [14]:
df_ords_prods_merged['max_order'] = df_ords_prods_merged.groupby(['user_id'])['order_number'].transform(np.max)

In [15]:
df_ords_prods_merged

,order_id,user_id,eval_set,order_number,order_dow,order_time,days_since_prior_order,product_id,add_to_cart_order,reordered,...,aisle_id,department_id,prices,exists,price_range,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order
0,1501582.0,2.0,prior,2.0,5.0,10.0,10.0,8479,3.0,0.0,...,78.0,19.0,3.5,both,Low-range product,Low-range product,Regularly busy,Regularly busy,Most orders,14.0
1,382106.0,235.0,prior,2.0,6.0,8.0,13.0,8479,3.0,1.0,...,78.0,19.0,3.5,both,Low-range product,Low-range product,Regularly busy,Regularly busy,Average orders,21.0
2,1264640.0,235.0,prior,8.0,3.0,2.0,17.0,8479,10.0,1.0,...,78.0,19.0,3.5,both,Low-range product,Low-range product,Regularly busy,Least busy,Fewest orders,21.0
3,909400.0,235.0,prior,20.0,5.0,10.0,25.0,8479,7.0,1.0,...,78.0,19.0,3.5,both,Low-range product,Low-range product,Regularly busy,Regularly busy,Most orders,21.0
4,1698838.0,352.0,prior,9.0,0.0,15.0,16.0,8479,13.0,1.0,...,78.0,19.0,3.5,both,Low-range product,Low-range product,Busiest day,Busiest days,Most orders,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1993212,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49669,NaN,NaN,...,100.0,21.0,4.7,right_only,Low-range product,Low-range product,Regularly busy,Not enough data,Not enough data,NaN
1993213,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49672,NaN,NaN,...,26.0,7.0,6.5,right_only,Mid-range product,Mid-range product,Regularly busy,Not enough data,Not enough data,NaN
1993214,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49684,NaN,NaN,...,124.0,5.0,5.3,right_only,Mid-range product,Mid-range product,Regularly busy,Not enough data,Not enough data,NaN
1993215,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49687,NaN,NaN,...,41.0,8.0,4.7,right_only,Low-range product,Low-range product,Regularly busy,Not enough data,Not enough data,NaN
1993216,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49688,NaN,NaN,...,73.0,11.0,13.5,right_only,Mid-range product,Mid-range product,Regularly busy,Not enough data,Not enough data,NaN

In [16]:
df_ords_prods_merged.loc[df_ords_prods_merged['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [17]:
df_ords_prods_merged.loc[(df_ords_prods_merged['max_order'] <= 40) & (df_ords_prods_merged['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [18]:
df_ords_prods_merged.loc[df_ords_prods_merged['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [19]:
df_ords_prods_merged['loyalty_flag'].value_counts(dropna=False)

Regular customer    983245
Loyal customer      657915
New customer        341938
NaN                  10119
Name: loyalty_flag, dtype: int64

# Step-5

In [20]:
df_ords_prods_merged.groupby('loyalty_flag').agg({'prices': ['mean']})

                     prices
                       mean
loyalty_flag
Loyal customer     9.755425
New customer      12.234317
Regular customer  11.396142

In [21]:
# Loyal customers mostly purchase the cheapest products.

# Step-6

In [22]:
df_ords_prods_merged['mean_price'] = df_ords_prods_merged.groupby(['user_id'])['prices'].transform(np.mean)

In [23]:
df_ords_prods_merged

,order_id,user_id,eval_set,order_number,order_dow,order_time,days_since_prior_order,product_id,add_to_cart_order,reordered,...,prices,exists,price_range,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean_price
0,1501582.0,2.0,prior,2.0,5.0,10.0,10.0,8479,3.0,0.0,...,3.5,both,Low-range product,Low-range product,Regularly busy,Regularly busy,Most orders,14.0,Regular customer,8.306667
1,382106.0,235.0,prior,2.0,6.0,8.0,13.0,8479,3.0,1.0,...,3.5,both,Low-range product,Low-range product,Regularly busy,Regularly busy,Average orders,21.0,Regular customer,8.735135
2,1264640.0,235.0,prior,8.0,3.0,2.0,17.0,8479,10.0,1.0,...,3.5,both,Low-range product,Low-range product,Regularly busy,Least busy,Fewest orders,21.0,Regular customer,8.735135
3,909400.0,235.0,prior,20.0,5.0,10.0,25.0,8479,7.0,1.0,...,3.5,both,Low-range product,Low-range product,Regularly busy,Regularly busy,Most orders,21.0,Regular customer,8.735135
4,1698838.0,352.0,prior,9.0,0.0,15.0,16.0,8479,13.0,1.0,...,3.5,both,Low-range product,Low-range product,Busiest day,Busiest days,Most orders,10.0,New customer,6.364286
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1993212,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49669,NaN,NaN,...,4.7,right_only,Low-range product,Low-range product,Regularly busy,Not enough data,Not enough data,NaN,NaN,NaN
1993213,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49672,NaN,NaN,...,6.5,right_only,Mid-range product,Mid-range product,Regularly busy,Not enough data,Not enough data,NaN,NaN,NaN
1993214,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49684,NaN,NaN,...,5.3,right_only,Mid-range product,Mid-range product,Regularly busy,Not enough data,Not enough data,NaN,NaN,NaN
1993215,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49687,NaN,NaN,...,4.7,right_only,Low-range product,Low-range product,Regularly busy,Not enough data,Not enough data,NaN,NaN,NaN
1993216,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49688,NaN,NaN,...,13.5,right_only,Mid-range product,Mid-range product,Regularly busy,Not enough data,Not enough data,NaN,NaN,NaN

In [24]:
df_ords_prods_merged.loc[df_ords_prods_merged['mean_price'] < 10, 'spending_flag'] = 'Low spender'

In [25]:
df_ords_prods_merged.loc[df_ords_prods_merged['mean_price'] >= 10, 'spending_flag'] = 'High spender'

In [26]:
df_ords_prods_merged['spending_flag'].value_counts(dropna=False)

Low spender     1932708
High spender      50389
NaN               10120
Name: spending_flag, dtype: int64

# Step-7

In [27]:
df_ords_prods_merged['days_median'] = df_ords_prods_merged.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [28]:
df_ords_prods_merged

,order_id,user_id,eval_set,order_number,order_dow,order_time,days_since_prior_order,product_id,add_to_cart_order,reordered,...,price_range,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean_price,spending_flag,days_median
0,1501582.0,2.0,prior,2.0,5.0,10.0,10.0,8479,3.0,0.0,...,Low-range product,Low-range product,Regularly busy,Regularly busy,Most orders,14.0,Regular customer,8.306667,Low spender,10.0
1,382106.0,235.0,prior,2.0,6.0,8.0,13.0,8479,3.0,1.0,...,Low-range product,Low-range product,Regularly busy,Regularly busy,Average orders,21.0,Regular customer,8.735135,Low spender,13.0
2,1264640.0,235.0,prior,8.0,3.0,2.0,17.0,8479,10.0,1.0,...,Low-range product,Low-range product,Regularly busy,Least busy,Fewest orders,21.0,Regular customer,8.735135,Low spender,13.0
3,909400.0,235.0,prior,20.0,5.0,10.0,25.0,8479,7.0,1.0,...,Low-range product,Low-range product,Regularly busy,Regularly busy,Most orders,21.0,Regular customer,8.735135,Low spender,13.0
4,1698838.0,352.0,prior,9.0,0.0,15.0,16.0,8479,13.0,1.0,...,Low-range product,Low-range product,Busiest day,Busiest days,Most orders,10.0,New customer,6.364286,Low spender,30.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1993212,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49669,NaN,NaN,...,Low-range product,Low-range product,Regularly busy,Not enough data,Not enough data,NaN,NaN,NaN,NaN,NaN
1993213,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49672,NaN,NaN,...,Mid-range product,Mid-range product,Regularly busy,Not enough data,Not enough data,NaN,NaN,NaN,NaN,NaN
1993214,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49684,NaN,NaN,...,Mid-range product,Mid-range product,Regularly busy,Not enough data,Not enough data,NaN,NaN,NaN,NaN,NaN
1993215,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49687,NaN,NaN,...,Low-range product,Low-range product,Regularly busy,Not enough data,Not enough data,NaN,NaN,NaN,NaN,NaN
1993216,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49688,NaN,NaN,...,Mid-range product,Mid-range product,Regularly busy,Not enough data,Not enough data,NaN,NaN,NaN,NaN,NaN

In [29]:
df_ords_prods_merged.loc[df_ords_prods_merged['days_median'] > 20, 'frequency_flag'] = 'Non-frequent customer'

In [30]:
df_ords_prods_merged.loc[(df_ords_prods_merged['days_median'] <= 20) & (df_ords_prods_merged['days_median'] > 10), 'frequency_flag'] = 'Regular customer'

In [31]:
df_ords_prods_merged.loc[df_ords_prods_merged['days_median'] <= 10, 'frequency_flag'] = 'Frequent customer'

In [32]:
df_ords_prods_merged['frequency_flag'].value_counts(dropna=False)

Frequent customer        1345256
Regular customer          431606
Non-frequent customer     206236
NaN                        10119
Name: frequency_flag, dtype: int64

In [33]:
df_ords_prods_merged.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged3.pkl'))